
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>

</style>

<div id="lbl_main_window" class="container-fluid" style="">
	<span id="lbl1" style=" color: blue; font-weight:bold;font-size: 2em; "> Lab Order Entry </span> 
	
	<div style="float: right;">
		<div >
			<span style="font-size: 2em; color: blue; font-weight: bold; float: left;" >LIMS </span>
			<span style="float: right;"> <%= image_tag("extras/mw.png") %></span>
		</div>
		
	</div>
</div>

<div id="main_window_container" class="container-fluid "  style="padding-top: 20px;">

	<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="background-color: #eeeeee; border-bottom: thick solid #eeeeee; padding-bottom: 5px;padding-top: 5px; margin-bottom: 15px;">

		<span style="float: right;">
			<button class="btn btn-primary btn-sm" onmousedown="document.location='/add_target_lab_page_loader'" >Add Target Lab</button>
		</span>

	</div>
	
	<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="overflow: auto;overflow-x: hidden;height: 350px;">
		<table class="table">
			<thead style="background-color: #eeeeee; ">
				<tr>
					<th>Lab Name</th>
					<th>District</th>
					<th>Contact Number</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="labs">
				<% if @labs !="no labs" %>
					<% @labs.each do |lab| %>					
						<tr id ="<%= lab['id'] %>">
							<td><%= lab['name'] %></td>
							<td><%= lab['district_id'] %></td>
							<td><%= lab['phone_number'] %></td>
							<td>
								<button id ="<%= lab['id'] %>" class="btn btn-primary btn-sm" onmousedown="delete_lab(this.id)" >delete
								</button>
								<button id ="<%= lab['id'] %>" class="btn btn-primary btn-sm" onmousedown="document.location='/add_user_page_loader'" >edit
								</button>
							</td>
						</tr>			
					<% end %>
				<% else %>
					<tr>
						<td style="color: red;">no target labs added in the system, please add</td>
					</tr>				  
				<%end%>
			</tbody>
		</table>
	
	</div>


</div>


<div class="footer">
  <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/view_settings'" >Back</button>
</div>

<script type="text/javascript">
	 function delete_lab(lab_id)
	 { 	var url_ = "/delete_lab?lab_id=" + lab_id;		

		jQuery.ajax({
						async: false,
						url: url_,
						type: 'post',
						success: function(res)
						{
								$(lab_id).remove();							
						},
						error: function(err)
						{
								$(lab_id).remove();								
						}
		
		})

	}
</script>