
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);}

	#barcode-txt {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 30px;
  margin: 3% 4%;
  width: 60%}
</style>



<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-12" style="height: 26.5%;  
			 box-shadow: 5px 5px 5px #16222a;">

			<% patient_demo = @patient_demo if !@patient_demo.blank? %>
			<div class="col-sm-5" style="margin-left: 0%;border: thin solid black; margin-top: 0.5%; box-shadow: 5px 5px 5px #16222a;height: 92%;">
					
					<div>
						<h4 style="font-weight: bold;font-size: 170%;"><span style="margin-left: 27%;"><%= patient_demo['name'] %></span></h4>
					</div>
					<div class="col-sm-3">

						<div style="margin-top: 2%;">	
							<%= image_tag("extras/user4.png", :size => "100x100") %> 
							
						</div>
					</div>
					<div class="col-sm-8">
						
						<table class="table table-striped" style="height: 4%;width: 100%; font-size: 105%;">
										
										<tr>
											<td style="font-weight: bold;">Patient Gender:</td>
											<td><%= patient_demo['gender'] %></td>
								
											<td style="font-weight: bold;">DOB:</td>
											<td>
												<%= patient_demo['birthdate'] %>
											</td>
											
										</tr>
										<tr>
											<td style="font-weight: bold;">Curent-District:</td>
											<td><%= patient_demo['current_district'] %></td>
											<td style="font-weight: bold;">Age:</td>
											<td>
												<% year = Time.current.year %>
												<% dob = patient_demo['birthdate'][0,4] %>
												<%= year.to_i - dob.to_i %>
											</td>
										</tr>
										<tr>
											<td style="font-weight: bold;">Home-District:</td>
											<td><%= patient_demo['home_district'] %></td>
											<td style="font-weight: bold;">NPID:</td>
											<td><%= patient_demo['npid'] %></td>
										</tr>
						</table>
					</div>
					

			</div>

			<div class="col-sm-6" style="margin-top: 0.5%;margin-left: 3%;height: 90%;">
				<h4 style="position: absolute;color: black; font-weight: bold;">PATIENT DASHBOARD</h4>
				<div style="width: 100%;border: thin solid black; margin-top: 7%">
					
				</div>

				<div style=" cursor: pointer;color:white; margin-top: 6%; width: 48%; "
				    			class="blues  buttons " onmousedown="document.location='/sample_ordering';">
					<span style="float: left;"> Order Test </span>				
																			
				</div>

				<div style=" cursor: pointer;color:white; margin-top: 6%; width: 48%; margin-left: 1%;"
				    			class="blues  buttons " onmousedown="document.location='/view_recent_result';">
					<span style="float: left;"> Test Results History </span>				
																			
				</div>

			</div>
			
		</div>
	</div>







	<div class="row" style="height: 55%;margin-left: 2%; overflow: auto;">

		<h4 style="margin-top: 2%; margin-left: 15%;">Recent Order Test Results <span style="margin-left: 5%;">Dated: 20 January 2018</span></h4>		

		<div class="col-sm-8" style="margin-left: 14%; margin-top: 2%;">
			
			<table class="table table-striped">
				<tr>
					<th>Test Name</th>
					<th>Test Status</th>
					<th>Sample Type</th>
					<th>Sample Status</th>
				</tr>
			</table>

		</div>



	</div>

</div>

<div class="footer">
 
  			<span style="float: left;">
			    <button class="buttons reds" id="log_out" onmousedown="document.location='/home' ">
			     	Close
			    </button>
			</span>

	    	<span style="float: right;">


	    		<% if !session[:re_print].blank? %>

			    	<button class="buttons greens" 
			     					id="log_out"
			     					onmousedown="reprint()">
			     				reprint tracking number
			    	</button>
			    <% end %>
			   
			</span>
</div>



<style type="text/css">
	.icon {width: 40%;height: auto;}

</style>


<script type="text/javascript">
	function reprint()
	{
		document.location = '/re_print_tracking_number';
	}

</script>