
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%;" class="container-fluid"  >
	<div style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">		
		<h1>
			LIMS Order Entry			
		</h1>
		<span style="float: right; font-size: 1.5em;color: blue;">
				Patient Dashboard
		</span>
		
	</div>
	<div class="row">
		<div style="border-top: thick solid grey; height: 90%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">
			
			<div class="col-sm-4" style="margin-top: 3%;">
				<% if !@details.blank? %>
					<table class="table">
						<tr>
							<td>
								NPID
							</td>
							<td>
								<%= @details[0]%>
							</td>
						</tr>
						<tr>
							<td>
								Patient 
							</td>
							<td>
								<%= @details[1]%>
							</td>
						</tr>
						<tr>
							<td>
								Gender
							</td>
							<td>
								<%= @details[2]%>
							</td>
						</tr>
						<tr>
							<td>
								DOB
							</td>
							<td>
								<%= @details[3]%>
							</td>
						</tr>
						<tr>
							<td>
								Home Vl 
							</td>
							<td>
								<%= @details[4]%>
							</td>
						</tr>
					</table>

				<% end %>
			</div>
			
			<div class="col-sm-8" style="margin-top: 3%;height: 50%; border-left: thin solid grey;">
				<div style="margin-top: 10%;margin-left: 25%;">
					<div class="col-sm-12 blues buttons" style="text-align: center;" 
						onclick="document.location='/tab_request_sample?id='+ '<%= @details[0].to_s %>'">
						request order
					</div>

					<div class="col-sm-12 blues buttons" style="text-align: center;" onclick="document.location='/tab_view_recent_result'">
						view order results
					</div>
				</div>

			</div>

		</div>
	</div>

</div>

<div class="footer">
 	<button class="buttons blues" id="log_out" onmousedown="document.location='/user/tab_log_in';">
	    Back
	</button>
  	<button class="buttons blues" id="log_out" onmousedown="document.location='/user/tab_log_in';">
	    Home
	</button>
  		
   
</div>
