
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%; background: -moz-linear-gradient(right,#d3cce3,#e9e4f0 );" class="container-fluid"  >
	<div style="margin-left: 1%;color: white;text-shadow: 2px 2px 4px #000000;">	
		<h1>
			LIMS Order Entry
		</h1>
	</div>
	<div class="row">
		<div style="border-top: thick solid grey; height: 90%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto; 
		">
			
			<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1" style="margin-top: 10%;background">
					
				<div>
					<div style="background-color: #1c2a48; cursor: pointer; color:white; height: 25%;box-shadow: 10px 10px 5px #16222a;"
								class="button col-sm-offset-2 col-sm-3 btn btn-lg " 
								onmousedown="document.location='user/tab_log_in';">
						<p>
							<%= image_tag 'extras/ipad(4).png', :class => 'icon' %>
						</p>
						<p style="float: center;">
							Tablet
						</p>
					</div>
					<div style="background-color: #1c2a48; cursor: pointer; color:white;height: 25%;box-shadow: 10px 10px 5px #16222a;"
								class="button  col-sm-offset-1 col-sm-3 btn btn-lg " 
								onmousedown="document.location='user/form_loader';">
						<p>

							<%= image_tag 'extras/apple-monitor(2).png', :class => 'icon' %>
						</p>
						<p style="float: center;">
							Workstation
						</p>
					</div>
				</div>		

			</div>


		</div>
	</div>

</div>


<style type="text/css">
	.icon {width: 40%;height: auto;}

</style>