
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>



</style>

<div id="lbl_main_window" class="container-fluid" style="margin-bottom: 10px;">
	<span style=" font-weight:bold;">Application Name:</span> <span> Lims Order Entry</span> <br>
	<span style=" font-weight:bold;"> Facility Name: </span> <span>Kamuzu Central Hospital </span> <br>
	<span style=" font-weight:bold;">Ward/Location: </span> <span><%=  session[:ward] %></span>

</div>

<div id="main_window_container" class="container-fluid">
		<div class="container data-holder" >
			
			<div>
			
				<div class="col-sm-offset-1 col-sm-2 menu-button" 
							onmousedown="document.location='/scan_patient_barcode?option='+'order_test';">
					<span> <%= image_tag("extras/order.png") %></span>
					<p>Order Test </p>
				</div>

				<div class="col-sm-offset-1 col-sm-2 menu-button " 
							onmousedown="document.location='/scan_patient_barcode?option='+'view_results';">
					<span> <%= image_tag("extras/view.png") %></span>
					<p>View Results</p>
				</div>

				<div class="col-sm-offset-1 col-sm-2 menu-button " 
							onmousedown="document.location='/scan_patient_barcode?option='+'add_test';">
					<span> <%= image_tag("extras/order.png") %></span>
					<p>Add Test to Specimen </p>
				</div>
			    
			</div>
			

			<div>
			
				<div class="col-sm-offset-1 col-sm-2 menu-button" 
							onmousedown="document.location='/scan_patient_barcode?option='+'draw_sample';">
					<span> <%= image_tag("extras/order.png") %></span>
					<p>Draw Sample </p>
				</div>

				<div class="col-sm-offset-1 col-sm-2 menu-button " 
							onmousedown="document.location='/scan_patient_barcode';">
					<span> <%= image_tag("extras/person.png") %></span>
					<p>Register Patient</p>
				</div>

				<div class="col-sm-offset-1 col-sm-2 menu-button" 
							onmousedown="document.location='/scan_patient_barcode';">
					<span> <%= image_tag("extras/order.png") %></span>
					<p>Dispatch Sample</p>
				</div>
			    
			</div>
		

			<div>
						    
				<div class="col-sm-offset-1 col-sm-2 menu-button " 
							id="settings_btn"
							onmousedown="document.location='/scan_patient_barcode';">
					<span> <%= image_tag("extras/settings.png") %></span>
					<p>Settings</p>
				</div>
				
			</div>
			
		</div>

		
</div>

<div class="footer">
  <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/'" style="float: right;">Log Out</button>
</div>
