
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%; background: -moz-linear-gradient(right,#d3cce3,#e9e4f0 );" class="container-fluid"  >
	<div style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">	
		<h1>
			LIMS Order Entry
		</h1>
	</div>
	<div class="row">
		<div style="border-top: thick solid grey; height: 90%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto; 
		">
			
			<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1" style="margin-top: 3%;background">
					
			
					<div  class="col-sm-offset-1 col-sm-10" >

						<div style="background-color: #e9e4f0; padding: 3%; border-top: thick solid #d3cce3; border-bottom: thick solid #d3cce3; border-right: thick solid #d3cce3; border-top-right-radius: 150px; border-bottom-right-radius: 150px">
							
							<form class="form">

									<label style="color:black; font-size: 1.5em;">Ward:</label>
								  	<select style="font-size: 2em;width:85%;" class="form-control"  name="ward_location" id="ward">								    
								  	</select>

									<label style="margin-top: 5%;color:black; font-size: 1.5em;">Username:</label>
								   	<input style="font-size: 1.5em;width: 85%;" id="username" type="text" class="form-control" name="username" placeholder="username">

								   	<label style="margin-top: 5%;color:black; font-size: 1.5em;">Password:</label>
								   	<input style="font-size: 1.5em;width: 85%;" id="password" type="password" class="form-control" name="password" placeholder="password">
									
							</form>

						</div>
						
					

					</div>
				

			</div>


		</div>
	</div>

</div>



<div class="footer">
 
  	
	    <span style="float: right;">
	    	<button class="buttons greens" 
	     					id="log_out"
	     					onmousedown="logIn();">
	     				Log In
	    	</button>
		
	        	
		</span>	
   
</div>
<div id="keypad">
		<span class="keypad">
		</span>
</div>

<div id="keypad1">
		<span class="keypad1">
		</span>
</div>

<% wards = @wards %>


<script type="text/javascript">	

	function logIn()
	{  
		var pas = document.getElementById('password').value;
		var user = document.getElementById('username').value;
		var ward = document.getElementById('ward').value;

		var _url = '/login?opt='+ 'tab' + '&ward=' + ward + '&username='+ user + '&password=' + pas;


		jQuery.ajax({
					async: false,
					url: _url,
					type: 'post',
					success: function(res)
					{
						if (res == "true")
						{
							document.location = '/user/tab_home_page_loader';
						}
						else
						{

						}
					},
					error: function(err)
					{
						console.log(err.responseText());
					}
		});

	
	}

	var wards = JSON.parse('<%= raw wards.to_json %>');
	var sel = document.getElementById("ward");
	
	for (var counter=0;counter<wards.length;counter++)
	{
		var ward = wards[counter];
		var opt = document.createElement("option");
		opt.innerHTML = ward;
		opt.value = ward;	
		sel.appendChild(opt);		
	}



			var inpt = document.getElementById("username");
			inpt.setAttribute("onclick","pop_keyboard()");

			function pop_keyboard()
			{   showKeyboardX();
			}

			keyboard = document.getElementsByClassName("keypad")[0];
			showAlphaKeypad();

			function showKeyboardX(){
		        key = document.getElementById("keypad")
		        if(key.style.display == 'none' || key.style.display == ""){
		            key.style.display = "inline";
		            return
		        }

		        key.style.display = "none";
		    }




		function getCharButtonSetID(character,id){
		  return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton button blue" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
		}

		function getButtonString(id,string){
		  if (id == "Space"){
		    id = "Whitespace";
		  }
		  return "<button onMouseDown='press(this.id);' class='keyboardButton' id='"+id+"'>"+string+"</button>";
		}

		function getButtons(chars){
		  var buttonLine = "";
		  for(var i=0; i<chars.length; i++){
		    character = chars.substring(i,i+1);
		    buttonLine += getCharButtonSetID(character,character)
		  }
		  return buttonLine;
		}

		function press(pressedChar){
			var txt = document.getElementById("username");
		  switch (pressedChar) {
		    case 'backspace':
		      txt.value = txt.value.substring(0,txt.value.length-1);
		       datatable.fnFilter(txt.value).draw();
		      return;
		    case 'Whitespace':
		      txt.value+= " ";
		       datatable.fnFilter(txt.value).draw();
		      return;
		    case 'clear':
		      txt.value = "";
		       datatable.fnFilter(txt.value).draw();
		      return;
		    case 'num':
		      showNumericKeypad();
		      return;
		    case 'slash':
		      txt.value+= "/";
		       datatable.fnFilter(txt.value).draw();
		      return;
		    case 'dash':
		      txt.value+= "-";
		       datatable.fnFilter(txt.value).draw();
		      return;
		    case 'abc':
		      showAlphaKeypad();
		      return
		  }
		  
		  txt.value+= pressedChar;
		  datatable.fnFilter(txt.value).draw();
		}

		function showNumericKeypad(){
		  document.getElementById("keypad").style.height = "145";
		  keyboard.innerHTML = getButtons("123");
		  keyboard.innerHTML+= getButtons("456");
		  keyboard.innerHTML+= getButtons("7890");
		  keyboard.innerHTML+= getButtonString('space','<span>Space</span>');
		  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
		  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
		  keyboard.innerHTML+= getButtonString('abc','<span>abc</span>');
		  keyboard.innerHTML+= getButtonString('dash','<span>-</span>');
		  keyboard.innerHTML+= getButtonString('slash','<span>/</span>');
		}

		function showAlphaKeypad(){
		  document.getElementById("keypad").style.height = "290 !important";  
		  keyboard.innerHTML= getButtons("0123456789") + "</br>";
		  keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>";
		  keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>";
		  keyboard.innerHTML+= getButtons("ZXCVBNM,.?");
		  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
		  keyboard.innerHTML+= getButtonString('Space','<span>Space</span>');
		  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
		}


</script>




<script type="text/javascript">	

	var inpt = document.getElementById("password");
	inpt.setAttribute("onclick","pop_keyboard()");

	function pop_keyboard()
	{   showKeyboardX();
	}

	keyboard = document.getElementsByClassName("keypad1")[0];
	showAlphaKeypad();

	function showKeyboardX(){
        key = document.getElementById("keypad1")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }




function getCharButtonSetID(character,id){
  return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton button blue" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
}

function getButtonString(id,string){
  if (id == "Space"){
    id = "Whitespace";
  }
  return "<button onMouseDown='press(this.id);' class='keyboardButton' id='"+id+"'>"+string+"</button>";
}

function getButtons(chars){
  var buttonLine = "";
  for(var i=0; i<chars.length; i++){
    character = chars.substring(i,i+1);
    buttonLine += getCharButtonSetID(character,character)
  }
  return buttonLine;
}

function press(pressedChar){
	var txt = document.getElementById("password");
  switch (pressedChar) {
    case 'backspace':
      txt.value = txt.value.substring(0,txt.value.length-1);
       datatable.fnFilter(txt.value).draw();
      return;
    case 'Whitespace':
      txt.value+= " ";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'clear':
      txt.value = "";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'done':
    	document.getElementById("keypad1").style.display = "none";
    	document.getElementsByClassName("keypad1").style.display = "none";
    case 'num':
      showNumericKeypad();
      return;
    case 'slash':
      txt.value+= "/";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'dash':
      txt.value+= "-";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'abc':
      showAlphaKeypad();
      return
  }
  
  txt.value+= pressedChar;
  datatable.fnFilter(txt.value).draw();
}

function showNumericKeypad(){
  document.getElementById("keypad1").style.height = "145";
  keyboard.innerHTML = getButtons("123");
  keyboard.innerHTML+= getButtons("456");
  keyboard.innerHTML+= getButtons("7890");
  keyboard.innerHTML+= getButtonString('space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('abc','<span>abc</span>');
  keyboard.innerHTML+= getButtonString('dash','<span>-</span>');
  keyboard.innerHTML+= getButtonString('slash','<span>/</span>');
}

function showAlphaKeypad(){
  document.getElementById("keypad1").style.height = "290 !important";  
  keyboard.innerHTML= getButtons("0123456789") + "</br>";
  keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>";
  keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>";
  keyboard.innerHTML+= getButtons("ZXCVBNM,.?");
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('Space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
  keyboard.innerHTML+= getButtonString('done','<span>Done</span>');
}


</script>



<style type="text/css">
	  #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 1%;
        position: absolute;
        right: 30%;
        top: 37%;
        width: 750px;
        opacity: 0.8;
    }


     #keypad1{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 40%;
        padding: 1%;
        position: absolute;
        right: 32%;
        top: 45%;
        width: 45%;
        opacity: 1;
    }

	#backspace{
	  position:absolute;
	  left:5%;
	  bottom:2%;
	}

	#whitespace{
	  position:absolute;
	  left:20%;
	  bottom:2%;
	  width:50%;
	}

	#clear{
	  position:absolute;
	  left:75%;
	  bottom:2%;
	}


	#done{
	  position:absolute;
	  left:87%;
	  bottom:2%;
	  font-weight: bold;
	  color:green;
	}

	.keyboardButton{
		background: -moz-linear-gradient(right,#2193b0,#6dd5ed); 	
			width: 10%;
		height: 18%;
    }



</style>