
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "datatable/js/jquery.dataTables.min" %>
  <%= javascript_include_tag "datatable/js/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "datatable/css/dataTables.bootstrap.min" %>

<style type="text/css">
	
	#barcode-txt {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 30px;
  margin: 3% 4%;
  width: 60%
}	

</style>
<div style=" height: 97%;" >

	<div class="row">
		<div class="col-sm-4" style="height: 32%; margin-top: 1%; margin-left: 2%;
			 background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3)); 
			 box-shadow: 10px 10px 5px lightgrey; border-radius: 2%;">

			<h1 style="color: white;text-shadow: 2px 2px 4px #000000;">LIMS Order Entry</h1>
				<p style="color: black;text-shadow: 2px 2px 4px #000000; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">Kawale Health Centre</span></p>

					<p style="color: black;text-shadow: 2px 2px 4px #000000;;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>

		</div>

		<div class="col-sm-7" style="margin-top: 1%;">
			<div style=" overflow: auto; height: 32%; padding-top: 1%;padding-left: 1%;padding-right: 1%;border: thin solid lightgrey;">
				<div class="row">	
						<div class="col-sm-8">
							
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="color: red;box-shadow: 10px 10px 5px lightgrey;">
								<h4 style="text-align: center;"> Viewing Users</h4>
							</div>
							
						</div>
				</div>
				<div class="row" style="margin-top: 5.7%;">
					<div class="col-sm-4">
						<div class="panel panel-default" style="color: orange;box-shadow: 10px 10px 5px lightgrey;">
							<div  class="panel-heading" style="color: #1c2a48 ; font-weight:bold; text-align: center;">Orders with No Results</div>
							<div class="panel-body" style="font-size: 2em;font-weight:bold; text-align: center;">1000 </div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="panel panel-default" style="color:lightgreen;box-shadow: 10px 10px 5px lightgrey;">
							<div  class="panel-heading" style="color: #1c2a48 ; font-weight:bold; text-align: center;">Samples Not Drawn</div>
							<div class="panel-body" style="font-size: 2em; font-weight:bold; text-align: center;">1000 </div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="panel panel-default" style="color: blue;box-shadow: 10px 10px 5px lightgrey;">
							<% undispatched_sample_count = session[:un_dis_sample] %>
									<% if undispatched_sample_count >0 %>
										<div  class="panel-heading" style="color:red; font-weight:bold; text-align: center;">Samples Not dispatched</div>
										<div class="panel-body" style="font-size: 2em; color:red; font-weight:bold; text-align: center;">
											<%= undispatched_sample_count %></div>
									<% else %>
										<div  class="panel-heading" style="color:#1c2a48; font-weight:bold; text-align: center;">Not dispatched</div>
										<div class="panel-body" style="font-size: 2em; color:#1c2a48; font-weight:bold; text-align: center;">
										<%= undispatched_sample_count %></div>
									<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>








	<div class="row">
		<div style="border: thick solid lightgrey;padding: 2%;  height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;
		">
		<table class="table" id="tb">
				<thead style="background-color: #eeeeee;">
					<tr>
						
						<td>Name</td>
						<td>Sex</td>
						<td>Email</td>
						<td>Phone Number</td>
						<td>Username</td>
						<td>Designation</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody style="">

					<% if !@rows.blank? %>
						<% for r in @rows %>
							<tr id="<%= r['staff_id'] %>" >
								
								<td>
									<%= r.user_name %>
								</td>
								<td>
									<%= r['sex'] %>
								</td>
								<td>
									<%= r['email'] %>
								</td>
								<td>
									<%= r['phoneNumber'] %>
								</td>
								<td>
									<%= r['username'] %>
								</td>
								<td>
									<%= r['name'] %>
								</td>
								<td>									
									<button class="btn btn-danger btn-lg" 
										onmousedown="delete_user('<%= r['staff_id'] %>')" >delete
									</button>
									<button class="btn btn-primary btn-lg" onmousedown="document.location='/add_user_page_loader'" >view
									</button>
									
								</td>
							</tr>
						<% end %>

					<% end %>					
					
				</tbody>
		    </table>
	
		</div>
	</div>

</div>

<div id="keypad">
	<span class="keypad">
	 </span>
</div>


<div class="footer">
    <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/view_settings?added='+ 'no'" ><| Back</button>
  
  	<span style="float: right;">
			<button class="btn btns btn-lg btn-danger"	id="log_out" onmousedown="document.location='/home'">
	     	Cancel
	     	</button>
			<button class="btn btns btn-primary btn-lg" onmousedown="document.location='/add_user_page_loader'" >add user</button>

			

			<button class="btns btn btn-lg btn-danger" 
	     					id="log_out"
	     					onmousedown="document.location='/'">
	     				Log Out
	    	</button>
    </span>
</div>



<script type="text/javascript">
	
	function delete_user(staff_id)
	{	
		var _url = '/delete_user?staff='+staff_id;
		
		jQuery.ajax({
						async: false,
						url: _url,
						success: function(res)
						{
							$('staff_id').remove();

							document.location="/view_user_page_loader";
						},
						error: function(err)
						{
							
						}
		})
	}

	var datatable = $("#tb").dataTable();
	
	var elms = document.getElementById("tb_filter").getElementsByTagName("*");
	var inpt = elms[1];
	inpt.setAttribute("id","txt_search");
	inpt.setAttribute("onclick","pop_keyboard()");
	

	function pop_keyboard()
	{   showKeyboardX();
	}

	keyboard = document.getElementsByClassName("keypad")[0];
	showAlphaKeypad();

	function showKeyboardX(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }




function getCharButtonSetID(character,id){
  return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton button blue" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
}

function getButtonString(id,string){
  if (id == "Space"){
    id = "Whitespace";
  }
  return "<button onMouseDown='press(this.id);' class='keyboardButton' id='"+id+"'>"+string+"</button>";
}

function getButtons(chars){
  var buttonLine = "";
  for(var i=0; i<chars.length; i++){
    character = chars.substring(i,i+1);
    buttonLine += getCharButtonSetID(character,character)
  }
  return buttonLine;
}

function press(pressedChar){
	var txt = document.getElementById("txt_search");
  switch (pressedChar) {
    case 'backspace':
      txt.value = txt.value.substring(0,txt.value.length-1);
       datatable.fnFilter(txt.value).draw();
      return;
    case 'Whitespace':
      txt.value+= " ";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'clear':
      txt.value = "";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'num':
      showNumericKeypad();
      return;
    case 'slash':
      txt.value+= "/";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'dash':
      txt.value+= "-";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'abc':
      showAlphaKeypad();
      return
  }
  
  txt.value+= pressedChar;
  datatable.fnFilter(txt.value).draw();
}

function showNumericKeypad(){
  document.getElementById("keypad").style.height = "145";
  keyboard.innerHTML = getButtons("123");
  keyboard.innerHTML+= getButtons("456");
  keyboard.innerHTML+= getButtons("7890");
  keyboard.innerHTML+= getButtonString('space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('abc','<span>abc</span>');
  keyboard.innerHTML+= getButtonString('dash','<span>-</span>');
  keyboard.innerHTML+= getButtonString('slash','<span>/</span>');
}

function showAlphaKeypad(){
  document.getElementById("keypad").style.height = "290 !important";  
  keyboard.innerHTML= getButtons("0123456789") + "</br>";
  keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>";
  keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>";
  keyboard.innerHTML+= getButtons("ZXCVBNM,.?");
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('Space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
}

  
</script>

<style type="text/css">
	  #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 5px;
        top: 48%;
        width: 750px;
        opacity: 0.8;
    }

	#backspace{
	  position:absolute;
	  left:100px;
	  bottom:6px;
	}

	#whitespace{
	  position:absolute;
	  left:220px;
	  bottom:6px;
	  width:200px;
	}

	#clear{
	  position:absolute;
	  left:470px;
	  bottom:6px;
	}

	.keyboardButton{
		background-color: lightblue;
		width: 70px;
		height: 57px;
    }



</style>