
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "datatable/js/jquery.dataTables.min" %>
  <%= javascript_include_tag "datatable/js/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "datatable/css/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">
	
	#barcode-txt {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 30px;
  margin: 3% 4%;
  width: 60%
}	

</style>
<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-4" style="height: 26%;  
			 box-shadow: 5px 5px 5px #16222a; border-radius: 2%;">

			<h1 style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">LIMS Order Entry</h1>
			<div class="col-sm-5" style="border-right: thin solid black;">
				<p style="color: black; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">Kawale Health Centre</span></p>

					<p style="color: black;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>
			</div>
			<div class="col-sm-5" >
				<p style="color: black; font-weight:bold;">Current User<br/>
					<span class="color:white;" style="font-weight:none !important;">Gift Malolo</span></p>
				<p style="color: black; font-weight:bold;">User Designation<br/>
					<span class="color:white;" style="font-weight:none !important;">Doctor</span></p>
			</div>

		</div>
		
		<div  class="col-sm-8">
			<div style="height: 26%; padding-top: 0.5%;padding-bottom:0.5%; padding-left: 0.5%;padding-right: 0.5%;border: thin solid lightgrey;box-shadow: 5px 5px 5px #16222a; 
			    ">

				
						<div class="col-sm-8">
							
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="height: 43%;color: blue;box-shadow: 2px 2px 2px #182848;">
								<h4 style="text-align: center;font-weight: bold"> Dispatching Sample</h4>
							</div>
							
						</div>
				
				<div  class="col-sm-12">
					<table class="table table-striped" style="height: 4%; font-size: 1em;">
								<tr>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Orders with No Results</td>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Requested Orders</td>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Undispatched Samples</td>
								</tr>
								<tr>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">
										<label  style="color:red; font-size: 1em; font-weight:bold; text-align: center;">
											1 
										</label>
									</td>
										<% requested_sample = session[:requested_sample] %>
										<% if requested_sample >0 %>
											<td style="color:red;font-size: 1.2em;font-weight:bold; text-align: center;">
												 <%= requested_sample %>
											
											</td>
										<% else %>
									
											<td style="font-size: 1.2em;font-weight:bold; text-align: center;">
												 <%= requested_sample %>
											
											</td>
										<% end %>
										
										<% undispatched_sample_count = session[:un_dis_sample] %>
										<% if undispatched_sample_count >0 %>
											<td style="color:red;font-size: 1.2em;font-weight:bold; text-align: center;">
												<%= undispatched_sample_count %>
											</td>
										<% else %>
											<td style="font-size: 1.2em;font-weight:bold; text-align: center;">
												<%= undispatched_sample_count %>
											</td>
										<% end %>
									
								</tr>
					</table>					
				</div>
			</div>
		</div>
	</div>










	<div class="row">
		<div style="border-top: thick solid grey;padding: 2%;  height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;
		">
		<table class="table table-striped" id="tb">
				<thead>
					<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
						
						<td>Name</td>
						<td>Sex</td>
						<td>Email</td>
						<td>Phone Number</td>
						<td>Username</td>
						<td>Designation</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody style="">

					<% if !@rows.blank? %>
						<% for r in @rows %>
							<tr id="<%= r['staff_id'] %>" >
								
								<td>
									<%= r.user_name %>
								</td>
								<td>
									<%= r['sex'] %>
								</td>
								<td>
									<%= r['email'] %>
								</td>
								<td>
									<%= r['phoneNumber'] %>
								</td>
								<td>
									<%= r['username'] %>
								</td>
								<td>
									<%= r['name'] %>
								</td>
								<td>									
									<button class="buttons red" 
										onmousedown="delete_user('<%= r['staff_id'] %>')" >delete
									</button>
									<button class="buttons blue" onmousedown="document.location='/add_user_page_loader'" >view
									</button>
									
								</td>
							</tr>
						<% end %>

					<% end %>					
					
				</tbody>
		    </table>
	
		</div>
	</div>

</div>

<div id="keypad">
	<span class="keypad">
	 </span>
</div>


<div class="footer">

    <button class="buttons blue" onmousedown="document.location='/view_settings?added='+ 'no'" > Back</button>
  
  	<span style="float: right;">
			
			<button class="buttons green" onmousedown="document.location='/add_user_page_loader'" >Add User</button>

			

			
    </span>
</div>



<script type="text/javascript">
	
	function delete_user(staff_id)
	{	
		var _url = '/delete_user?staff='+staff_id;
		
		jQuery.ajax({
						async: false,
						url: _url,
						success: function(res)
						{
							$('staff_id').remove();

							document.location="/view_user_page_loader";
						},
						error: function(err)
						{
							
						}
		})
	}

	var datatable = $("#tb").dataTable();
	
	var elms = document.getElementById("tb_filter").getElementsByTagName("*");
	var inpt = elms[1];
	inpt.setAttribute("id","txt_search");
	inpt.setAttribute("onclick","pop_keyboard()");
	

	function pop_keyboard()
	{   showKeyboardX();
	}

	keyboard = document.getElementsByClassName("keypad")[0];
	showAlphaKeypad();

	function showKeyboardX(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }




function getCharButtonSetID(character,id){
  return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton button blue" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
}

function getButtonString(id,string){
  if (id == "Space"){
    id = "Whitespace";
  }
  return "<button onMouseDown='press(this.id);' class='keyboardButton' id='"+id+"'>"+string+"</button>";
}

function getButtons(chars){
  var buttonLine = "";
  for(var i=0; i<chars.length; i++){
    character = chars.substring(i,i+1);
    buttonLine += getCharButtonSetID(character,character)
  }
  return buttonLine;
}

function press(pressedChar){
	var txt = document.getElementById("txt_search");
  switch (pressedChar) {
    case 'backspace':
      txt.value = txt.value.substring(0,txt.value.length-1);
       datatable.fnFilter(txt.value).draw();
      return;
    case 'Whitespace':
      txt.value+= " ";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'clear':
      txt.value = "";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'num':
      showNumericKeypad();
      return;
    case 'slash':
      txt.value+= "/";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'dash':
      txt.value+= "-";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'abc':
      showAlphaKeypad();
      return
  }
  
  txt.value+= pressedChar;
  datatable.fnFilter(txt.value).draw();
}

function showNumericKeypad(){
  document.getElementById("keypad").style.height = "145";
  keyboard.innerHTML = getButtons("123");
  keyboard.innerHTML+= getButtons("456");
  keyboard.innerHTML+= getButtons("7890");
  keyboard.innerHTML+= getButtonString('space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('abc','<span>abc</span>');
  keyboard.innerHTML+= getButtonString('dash','<span>-</span>');
  keyboard.innerHTML+= getButtonString('slash','<span>/</span>');
}

function showAlphaKeypad(){
  document.getElementById("keypad").style.height = "290 !important";  
  keyboard.innerHTML= getButtons("0123456789") + "</br>";
  keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>";
  keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>";
  keyboard.innerHTML+= getButtons("ZXCVBNM,.?");
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('Space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
}

  
</script>

<style type="text/css">
	  #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 40%;
        padding: 1%;
        position: absolute;
        right: 4%;
        top: 44%;
        width: 45%;
        opacity: 1;
    }

	#backspace{
	  position:absolute;
	  left:5%;
	  bottom:2%;
	}

	#whitespace{
	  position:absolute;
	  left:20%;
	  bottom:2%;
	  width:50%;
	}

	#clear{
	   position:absolute;
	  left:75%;
	  bottom:2%;
	}

	.keyboardButton{
		background: -moz-linear-gradient(right,#2193b0,#6dd5ed); 
		width: 10%;
		height: 18%;
    }



</style>