
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>

</style>

<div id="lbl_main_window" class="container-fluid" style="">
	<span id="lbl1" style=" color: blue; font-weight:bold;font-size: 2em; "> Lab Order Entry </span> 
	
	<div style="float: right;">
		<div >
			<span style="font-size: 2em; color: blue; font-weight: bold; float: left;" >LIMS </span>
			<span style="float: right;"> <%= image_tag("extras/mw.png") %></span>
		</div>
		
	</div>
</div>


<div id="main_window_container" class="container-fluid "  style="padding-top: 40px;">

	<div class="col-sm-12 panel">
		
		<div class="panel-heading panel-default">
			User Types & system roles
		</div>
		<div class="panel-body" style=" overflow: auto; overflow-x: hidden; height: 240px;">
			<table class="table">
				<thead>
					<tr>
							<th>User Types</th>
						<% if !@roles.blank? %>

							<% @roles.each do |role| %>
								<th> <%= role['name']%> </th>
							<% end %>
						<% else %>

						<% end %>
					</tr>
				</thead>
				
				<tbody>
					<% if !@asigned_roles.blank? %>
							<% counter =0 %>
							<% @asigned_roles.each do |type| %>							
								<tr>
									<td>
										<%= type[0] %>
									</td>
									<% @roles.each do |role| %>
										<% if type[1][counter] == "yes" %>
											<th> <input id="<%= role['name'] +'_'+ type[0] %>" 
												type="checkbox" name="rl()"
												value ="<%= role['name'] +'_'+ type[0] %>"
												onclick="assign_deasign_roles(this.id,this.value)"
												checked>
											</th>
										<% else %>
											<th> <input id="<%= role['name'] +'_'+ type[0] %>" 
												type="checkbox" name="rl()"
												value ="<%= role['name'] +'_'+ type[0] %>"
												onclick="assign_deasign_roles(this.id,this.value)">
											</th>
										<% end %>
										<% counter = counter + 1 %>
									<% end %>
									<% counter = 0 %>
								</tr>
							<% end %>
					<% end %>
				</tbody> 
									
			</table>
			<input style="position: fixed;" class="btn btn-primary" type="button" name="" onclick="send_roles()" value="save">
		</div>
	</div>

				

</div>

<div class="footer">
  <button class="" onmousedown="document.location='/home'"> <|Back</button>
</div>


<script type="text/javascript">
 var roles = {};
 function assign_deasign_roles(control_id,role_user_type)
 {	var role = role_user_type.split('_')[1];
 	var userType = role_user_type.split('_')[0];
 	
 	if ($(control_id).checked)
 	{
 		roles[role_user_type] = "yes";
 		
 	}
 	else if ($(control_id).checked ==false)
 	{
 		roles[role_user_type] = "no";
 		
 	}
 }

 function send_roles()
 { 
 	var url_ = "/system_roles"; 	
 	jQuery.ajax({
 					async: false,
 					url: url_,
 					type: 'post',
 					data: roles,
 					success: function(res)
 					{
 							alert("good");
 					},
 					error: function(err)
 					{	
 						alert(err.responseText);
 					}
 	})
 }

</script>