
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "datatable/js/jquery.dataTables.min" %>
  <%= javascript_include_tag "datatable/js/dataTables.bootstrap.min" %>
  <%= javascript_include_tag "sw.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "datatable/css/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>


<style type="text/css">
	
	#barcode-txt {
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 30px;
  margin: 3% 4%;
  width: 60%
}	

</style>
<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-4" style="height: 26%;  
			 box-shadow: 5px 5px 5px #16222a; border-radius: 2%;">

			<h1 style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">LIMS Order Entry</h1>
			<div class="col-sm-5" style="border-right: thin solid black;">
				<p style="color: black; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">
						<% file =YAML.load_file("#{Rails.root}/config/application.yml")[Rails.env] %>
						<%= file['facility_name'] %>
					</span></p>

					<p style="color: black;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>
			</div> 
			<div class="col-sm-5" >
				<p style="color: black; font-weight:bold;">Current User<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% user = User::get_user(session[:user]) %>
					<%= user['name'] %></span></p>
				<p style="color: black; font-weight:bold;">User Designation<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% des= UserType::get_user_type_by_id(user['user_type_id']) %>
					<%= des %>
					</span></p>
			</div>

		</div>
		
		<div  class="col-sm-8">
			<div style="height: 26%; padding-top: 0.5%;padding-bottom:0.5%; padding-left: 0.5%;padding-right: 0.5%;border: thin solid lightgrey;box-shadow: 5px 5px 5px #16222a; 
			    ">

					
						<div class="col-sm-8">
							
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="height: 43%;color: blue;box-shadow: 2px 2px 2px #182848;">
								<h4 style="text-align: center;font-weight: bold"> Wards</h4>
							</div>
							
						</div>
				
				<div  class="col-sm-12">
					<table class="table table-striped" style="height: 4%; font-size: 1em;">
								<tr>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Orders with No Results</td>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Requested Orders</td>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">Undispatched Samples</td>
								</tr>
								<tr>
									<td style="font-size: 1em;font-weight:bold; text-align: center;">
										<label  style="color:red; font-size: 1em; font-weight:bold; text-align: center;">
											1 
										</label>
									</td>
										<% requested_sample = session[:requested_sample] %>
										<% if requested_sample >0 %>
											<td style="color:red;font-size: 1.2em;font-weight:bold; text-align: center;">
												 <%= requested_sample %>
											
											</td>
										<% else %>
									
											<td style="font-size: 1.2em;font-weight:bold; text-align: center;">
												 <%= requested_sample %>
											
											</td>
										<% end %>
										
										<% undispatched_sample_count = session[:un_dis_sample] %>
										<% if undispatched_sample_count >0 %>
											<td style="color:red;font-size: 1.2em;font-weight:bold; text-align: center;">
												<%= undispatched_sample_count %>
											</td>
										<% else %>
											<td style="font-size: 1.2em;font-weight:bold; text-align: center;">
												<%= undispatched_sample_count %>
											</td>
										<% end %>
									
								</tr>
					</table>					
				</div>
			</div>
		</div>
	</div>





	<% added = "no" %>
	<% if !params[:added].blank? %>
		<% added = params[:added] %>
	<% end %>




	<div class="row">
		<div style="border-top: thick solid grey; height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;
		">
			<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3" style="margin-top: 2%; overflow-x: 10px;">
				<table class="table table-striped">
					<thead>
						<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
							<th>Ward</th>
							<th>Category</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% if !@wards.blank? %>
							<% @wards.each do |r| %>
								<% id = r['id'] %>
								<tr id="<%= id %>">
									<td><%= r['name'] %></td>
									<td><%= r['category'] %></td>
									<td>
										<button class="buttons reds" style="background-color: red" 
										 	onmousedown="deleteWard('<%= id %>')" >delete
										</button>
										<button class="buttons blues" onmousedown="document.location='/add_user_page_loader'" >edit
										</button>
									</td>
								</tr>		
							<% end %>
						<% end %>		
					</tbody>
				</table>
			
			</div>


		</div>
	</div>

</div>
		
<div class="footer">
	
	<button class="buttons blues" onmousedown="document.location='/view_settings'">Back</button>
	<span style="float: right;">
			
			<button class="buttons greens" 
	     					id="log_out"
	     					onmousedown="document.location= '/add_ward_page_loader' ">
	     				Add Ward
	    	</button>
	    	
    </span>
	</span>
</div>


<script type="text/javascript">

	var va = '<%= added %>';

	if (va == 'yes')
	{
		swal("Confirmation","Ward Added Successfuly","success");
	}
	
	function deleteWard(id)
	{	
		swal("Deletion","Are you sure you want to delete the ward?", "warning",{
			  buttons: {
			    no: {
					  text: "No",
					  value: "no"
					},
			    yes: {
			      text: "Yes",
			      value: "yes",
			         }
			          },
			})
			.then((value) => {
			  switch (value) {
			 
			    case "no":
			      swal("Confirmation","Ward not Deleted","success");
			      break;
			 
			    case "yes":
				    var _url = "/delete_ward?ward_id=" + id;		
				   
				    jQuery.ajax({	async: false,
									url: _url,
									type: 'post',
									success: function(res)
									 { 
									  $(id).remove();
									  swal("Confirmation","Ward Deleted Successfuly","success");
									  
									 },
									error: function(err)
									 { 
									 	$(id).remove();
									    swal("Confirmation","Ward Deleted Successfuly","success");
									 }
								})
			      break;
			 }
		});

		
	}


</script>