
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= javascript_include_tag "sw.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">	
	.button:hover {background-color: #3e8e41}
	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-4" style="height: 26%;  
			 box-shadow: 5px 5px 5px #16222a; border-radius: 2%;">

			<h1 style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">LIMS Order Entry</h1>
			<div class="col-sm-5" style="border-right: thin solid black;">
				<p style="color: black; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">
						<% file =YAML.load_file("#{Rails.root}/config/application.yml")[Rails.env] %>
						<%= file['facility_name'] %>
					</span></p>

					<p style="color: black;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>
			</div> 
			<div class="col-sm-5" >
				<p style="color: black; font-weight:bold;">Current User<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% user = User::get_user(session[:user]) %>
					<%= user['name'] %></span></p>
				<p style="color: black; font-weight:bold;">User Designation<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% des= UserType::get_user_type_by_id(user['user_type_id']) %>
					<%= des %>
					</span></p>
			</div>

		</div>

		
		<div  class="col-sm-8">
			<div style="height: 26%; padding-top: 0.5%;padding-bottom:0.5%; padding-left: 0.8%;padding-right: 0.8%;border: thin solid lightgrey;box-shadow: 5px 5px 5px #16222a; 
			    ">

				<div style="margin-top: 2%;">	
				<% patient_demo = @patient_demo if !@patient_demo.blank? %>
						<div class="col-sm-8" style="height: 90%; color: blue;box-shadow: 2px  #182848;">
							<table class="table table-striped" style="height: 4%;width: 100%; font-size: 1em;">
								<tr>
									<td style="font-weight: bold;">Patient Name:</td>
									<td><%= patient_demo['name'] %></td>
									<td style="font-weight: bold;">NPID:</td>
									<td><%= patient_demo['npid'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Patient Gender:</td>
									<td><%= patient_demo['gender'] %></td>
						
									<td style="font-weight: bold;">DOB:</td>
									<td><%= patient_demo['birthdate'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Curent-District:</td>
									<td><%= patient_demo['current_district'] %></td>
									<td style="font-weight: bold;">Age:</td>
									<td>20</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Home-District:</td>
									<td><%= patient_demo['home_district'] %></td>
								</tr>
							</table>
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="height: 43%;color: blue;box-shadow: 2px 2px 2px #182848;">
								<h4 style="text-align: center;font-weight: bold"> Order Confirmation</h4>
							</div>
							
						</div>
				</div>

				
			</div>
		</div>
	</div>







	<div class="row">
		<div style=" border-top: thick solid grey; height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">			
			<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="margin-top: 2%;">
					
				<table class="table table-striped">
					<thead>
						<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
							<th>Test Name</th>
							<th>Test Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% counter = 0 %>
						
						<% if !@order['tests'].blank? %>
							<% location ="/add_test?rec_lab=" + @order['target_lab'] + "&sample=" + @order['sample_type'] %>
							<% @order['tests'].each do |test| %>
								<% counter = counter + 1 %>
								<% next if test.empty? %>
								<tr id="<%= counter %>" >
									<td><%= test %></td>
									<td> Drawn</td>
									<td class="del"><button class="buttons reds"
										 id="<%= counter.to_s + '_' + test %>"
										 onmousedown="delete_test(this)">Delete</button></td>
								</tr>
							<% end %>
							<% counter = 0 %>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>



<div class="footer">
  <button class="buttons blues" onmousedown="document.location=''"> Home</button>
    <span style="float: right;">
	  
    	<button  class="buttons blues" onmousedown="reprint();" id="reprint" style="display: none;">
			Reprint Tracking Number
	    </button>

	    <button  class="buttons reds" 
	    		onmousedown="document.location='/patient_dashboard'" id="close" style="display: none;">
			Close
	    </button>

	   	<button  class="buttons blues" onmousedown="document.location='<%= location %>'" id="add_test">
			Add Test
	    </button>

		<button class="buttons greens" onmousedown="determine();" id="finish">
			Finish
		</button>
	
    </span>
</div>


<script type="text/javascript">

	function reprint()
	{
		document.location = '/re_print_tracking_number';
	}

	function determine()
	{
		swal("Confirmation","Add to worklist?", "info",{
			  buttons: {
			    no: {
					  text: "No",
					  value: "no"
					},
			    yes: {
			      text: "Yes",
			      value: "yes",

			         }
			          },
			})
			.then((value) => {
			  switch (value) {
			 			 
			    case "yes":
				 	document.location = '/order_request';
			      break;
				case "no":				 	
					document.getElementById("finish").style.display = "none";
					document.getElementById("add_test").style.display = "none";
					document.getElementById("close").style.display = "inline";
					document.getElementById("reprint").style.display = "inline";					
					var el = document.getElementsByClassName("del");
					for (var c=0; c < el.length;c++)
					{
						el[c].style.display = "none";
					}
				 	document.location = "/submite_order";
			      break;
			 }
		});
	}
	
	function orderSample()
	{
		var _url = "/submite_order";

		jQuery.ajax({
					async: false,
					url: _url,
					success: function(res)
					{
					 	swal("Success","Sample Order Done Successfuly","success");
					},
					error: function(err)
					{
							console.log(err);
					}
		})
	}

	function delete_test(object)
	{  var id = object.id.split('_');		
		
	   	swal("Deletion","Are you sure you want to delete the test?", "warning",{
			  buttons: {
			    no: {
					  text: "No",
					  value: "no"
					},
			    yes: {
			      text: "Yes",
			      value: "yes",

			         }
			          },
			})
			.then((value) => {
			  switch (value) {
			 			 
			    case "yes":
				 	$(id[0]).remove();					 	
				 	remove_test_from_order(id[1]);
				 	document.location.reload(true);
			      break;
			 }
		});
	}

	function remove_test_from_order(test_name)
	{  
		var url_ = "/remove_test?test_name=" + test_name;		
		jQuery.ajax({
						async: false,
						url: url_,
						success: function(res)
						{
								
						},
						error: function(err)
						{
								console.log(err);
						}
		})
	}


</script>








