
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>

<style type="text/css">
	 .btn-home {
     
      border-color: #5cb85c;
      margin-top: 10px;
      margin-left: 10px;
      min-width: 140px;
      float: left;
      -moz-user-select: none;
      border: 0 none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4em;
      height: 100%;
    }

</style>

<div id="lbl_main_window" class="container-fluid" style="margin-bottom: 10px;">
	LIMS ORDER ENTRY<span style="float: right;">Ward: <%=  session[:ward] %></span>
</div>
<% order = session[:order] %>
<div id="main_window_container" class="container-fluid">
		<div class="container" style="margin-top: 35px;border-bottom: thin solid lightblue; padding-bottom: 15px;">
		

			<div>
				<p>
					<span>Patient Id: <%= order['national_patient_id'] %></span>
					<span style="margin-left: 10px;">Patient Name:  
					<%= order['first_name'] + " " + order['middle_name'] + " " + order['last_name']%></span>
					<span style="margin-left: 10px;">Sex: <%= order['sex']%></span>
					<span style="margin-left: 10px;">Age: <%= order['date_of_birth']%></span>
				</p>
				
			</div>

			<div>
					<span>Sample Type: <%= order['sample_type'] %></span>
					<span style="margin-left: 10px;">Date: 18 August 2017</span>								
			</div>


		</div>

		<div class="container" style="margin-top: 15px;">
			
			<table class="table">
				<thead>
					<tr>
						<th>Test Name</th>
						<th>Test Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% counter = 0 %>
					<% order['test'].each do |test| %>
						<% counter = counter + 1 %>
						<% next if test.empty? %>
						<tr id="<%= counter %>" >
							<td><%= test %></td>
							<td><%= order['sample_collected'] %></td>
							<td><button class="btn btn-medium btn-danger"
								 id="<%= counter.to_s + '_' + test %>"
								 onmousedown="delete_test(this)">Delete</button></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		</div>

	<div class="footer" style="margin-top: 200px;">
			
		    	<button class="btn-home btn btn-lg btn-info btn-header" 
				     					
				     					onmousedown="document.location='/'">
				     				<|Back Home
		    	</button>

		    	<span style="float: right;">
			    	<button class="btn-home btn btn-lg btn-danger" 
					     					
					     					onmousedown="document.location='/'">
					     				Cancel
			    	</button>

			    	<button class="btn-home btn btn-lg btn-info" 
					     					
					     					onmousedown="document.location='/add_test'">
					     				Add Test
			    	</button>

			    	<button class="btn-home btn btn-lg btn-success" 
					     					
					     					onmousedown="document.location='/'">
					     				Finish
			    	</button>
	            </span>   

				  
			    		
	</div>

</div>



<script type="text/javascript">
	
	function delete_test(object)
	{  var id = object.id.split('_');		
	   $(id[0]).remove();	
	   remove_test_from_order(id[1]);	
	}

	function remove_test_from_order(test_name)
	{  
		var url_ = "/remove_test?test_name=" + test_name;		
		jQuery.ajax({
						async: true,
						url: url_,
						success: function(res)
						{

						},
						error: function(err)
						{
								
						}
		})
	}


</script>
