
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>

<style type="text/css">
   		#order-holder{
   			background-color: #f9f9f9;
    		height: 300px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   		
</style>

<div id="lbl_main_window" class="container-fluid" style="">
	<span id="lbl1" style=" color: blue; font-weight:bold;font-size: 2em; "> Lab Order Entry </span> 
	
	<div style="float: right;">
		<div >
			<span style="font-size: 2em; color: blue; font-weight: bold; float: left;" >LIMS </span>
			<span style="float: right;"> <%= image_tag("extras/mw.png") %></span>
		</div>
		
	</div>
</div>

<div id="main_window_container" class="container-fluid">
		<div class="col-sm-offset-1 col-sm-3 " style=" border: thick solid #eeeeee; border-radius:20px; margin-top: 10px; padding-bottom: 15px;">
		
				<table class="table" >
					<tr style=" border-bottom: thick solid black;">
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Id:
						</td>
						<td>
							00000000000
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Name:
						</td>
						<td>
							Gift Malolo
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Gender:
						</td>
						<td>
							Male
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient DOB:
						</td>
						<td>
							05-07-1990
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Sample Ordered:
						</td>
						<td>
							Blood
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Date Sample Ordered:
						</td>
						<td>
							05-10-2017
						</td>						
					</tr>

				</table>
		</div>

		<div class="col-sm-7" style="margin-left: 2%;margin-top: 10px; background-color:  #eeeeee;" id="order-holder">
			
			<table class="table" >
				<thead>
					<tr >
						<th>Test Name</th>
						<th>Test Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% counter = 0 %>
					<% if !@order['tests'].blank? %>
						<% @order['tests'].each do |test| %>
							<% counter = counter + 1 %>
							<% next if test.empty? %>
							<tr id="<%= counter %>" >
								<td><%= test %></td>
								<td> Drawn</td>
								<td><button class="btn btn-medium btn-danger"
									 id="<%= counter.to_s + '_' + test %>"
									 onmousedown="delete_test(this)">Delete</button></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>

</div>


<div class="footer">
  <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/view_results'">|< Back Home</button>
    <span style="float: right;">
	    <button class="btn btn-lg btn-danger"	id="log_out" onmousedown="document.location='/view_results'">
	     	Cancel
	   	</button>

	   	<button class="btn-home btn btn-lg btn-info" onmousedown="document.location='/add_test'">
			Add Test
	    </button>

		<button class="btn-home btn btn-lg btn-success" onmousedown="document.location='/submite_order'">
			Finish
		</button>
    </span>
</div>


<script type="text/javascript">
	
	function delete_test(object)
	{  var id = object.id.split('_');		
	   $(id[0]).remove();	
	   remove_test_from_order(id[1]);	
	}

	function remove_test_from_order(test_name)
	{  
		var url_ = "/remove_test?test_name=" + test_name;		
		jQuery.ajax({
						async: false,
						url: url_,
						success: function(res)
						{
								
						},
						error: function(err)
						{
								
						}
		})
	}


</script>
