
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= javascript_include_tag "sw.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">	
	.button:hover {background-color: #3e8e41}
	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		
		<div id="app_headers" class="col-sm-12" style="height: 26.5%;  
			 box-shadow: 5px 5px 5px #16222a;">

			<% patient_demo = @patient_demo if !@patient_demo.blank? %>
			<div class="col-sm-5" style="margin-left: 0%;border: thin solid black; margin-top: 0.5%; box-shadow: 5px 5px 5px #16222a;height: 92%;">
					
					<div>
						<h4 style="font-weight: bold;font-size: 170%;"><span style="margin-left: 27%;"><%= patient_demo['name'] %></span></h4>
					</div>
					<div class="col-sm-3">

						<div style="margin-top: 2%;">	
							<%= image_tag("extras/user4.png", :size => "100x100") %> 
							
						</div>
					</div>
					<div class="col-sm-8">
						
						<table class="table table-striped" style="height: 4%;width: 100%; font-size: 105%;">
										
										<tr>
											<td style="font-weight: bold;">Patient Gender:</td>
											<td><%= patient_demo['gender'] %></td>
								
											<td style="font-weight: bold;">DOB:</td>
											<td>
												<%= patient_demo['birthdate'] %>
											</td>
											
										</tr>
										<tr>
											<td style="font-weight: bold;">Curent-District:</td>
											<td><%= patient_demo['current_district'] %></td>
											<td style="font-weight: bold;">Age:</td>
											<td>
												<% year = Time.current.year %>
												<% dob = patient_demo['birthdate'][0,4] %>
												<%= year.to_i - dob.to_i %>
											</td>
										</tr>
										<tr>
											<td style="font-weight: bold;">Home-District:</td>
											<td><%= patient_demo['home_district'] %></td>
											<td style="font-weight: bold;">NPID:</td>
											<td><%= patient_demo['npid'] %></td>
										</tr>
						</table>
					</div>
					

			</div>

			<div class="col-sm-6" style="margin-top: 0.5%;margin-left: 3%;height: 90%;">
				<h4 style="position: absolute;color: black; font-weight: bold;">CONFIRM ORDER</h4>
				<div style="width: 100%;border: thin solid black; margin-top: 7%">
					
				</div>

				<div style="margin-top: 5%;">
					<table class="table table-striped">
						<thead>
							<tr style="color: black;font-weight: bold;">
								<td>Specimen Type</td>
								<td>Order Priority</td>	
								<td>Requesting Clinician</td>	
								<td>Target Lab</td>								
							</tr>
						</thead>
						<tbody>
							<% if !@order['tests'].blank? %>
								<tr>
									<td><%= @order['sample_type'] %></td>
									<td><%= @order['sample_priority'] %></td>
									<td><%= @order['requesting_clinician'] %></td>
									<td><%= @order['target_lab'] %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

			</div>
			
		</div>

	</div>







	<div class="row">
		<div style="height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">	
			<div>
					<h4 style="color: black;font-weight: bold;margin-left: 17.5%;">List of Selected Tests</h4>
			</div>

			<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="margin-top: 1%;">
				
				<table class="table table-striped">
					<thead>
						<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
							<th>Test Name</th>
							<th>Test Status</th>
						</tr>
					</thead>
					<tbody>
						<% counter = 0 %>
						
						<% if !@order['tests'].blank? %>
							<% location ="/add_test?rec_lab=" + @order['target_lab'] + "&sample=" + @order['sample_type'] %>
							<% @order['tests'].each do |test| %>
								<% counter = counter + 1 %>
								<% next if test.empty? %>
								<tr id="<%= counter %>" >
									<td><%= test %></td>
									<td> Drawn</td>
									<td class="del"><button class="buttons reds"
										 id="<%= counter.to_s + '_' + test %>"
										 onmousedown="delete_test(this)">Delete</button></td>
								</tr>
							<% end %>
							<% counter = 0 %>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>



<div class="footer">
  <button class="buttons blues" onmousedown="document.location=''"> Home</button>
    <span style="float: right;">
	 
	   	<button  class="buttons blues" onmousedown="document.location='<%= location %>'" id="add_test">
			Add Test
	    </button>

		<button class="buttons greens" onmousedown="determine();" id="finish">
			Finish
		</button>
	
    </span>
</div>


<script type="text/javascript">

	function determine()
	{
		swal("Confirmation","Add to worklist?", "info",{
			  buttons: {
			    no: {
					  text: "No",
					  value: "no"
					},
			    yes: {
			      text: "Yes",
			      value: "yes",

			         }
			          },
			})
			.then((value) => {
			  switch (value) {
			 			 
			    case "yes":
				 	document.location = '/order_request';
			      break;
				case "no":				 	
				 	document.location = "/submite_order";
			      break;
			 }
		});
	}


	function delete_test(object)
	{  var id = object.id.split('_');		
		
	   	swal("Deletion","Are you sure you want to delete the test?", "warning",{
			  buttons: {
			    no: {
					  text: "No",
					  value: "no"
					},
			    yes: {
			      text: "Yes",
			      value: "yes",

			         }
			          },
			})
			.then((value) => {
			  switch (value) {
			 			 
			    case "yes":
				 	$(id[0]).remove();					 	
				 	remove_test_from_order(id[1]);
				 	document.location.reload(true);
			      break;
			 }
		});
	}

	function remove_test_from_order(test_name)
	{  
		var url_ = "/remove_test?test_name=" + test_name;		
		jQuery.ajax({
						async: false,
						url: url_,
						success: function(res)
						{
								
						},
						error: function(err)
						{
								console.log(err);
						}
		})
	}


</script>








