
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%; background: -moz-linear-gradient(right,#d3cce3,#e9e4f0 );" class="container-fluid"  >
	<div style="margin-left: 1%;color: white;text-shadow: 2px 2px 4px #000000;">	
		<h1>
			LIMS Order Entry
			<span  style="float: right;font-weight: bold;">
				<input type="button" value="<| back" class="btn btn-lg btn-success" onmousedown="document.location='user/tab_home_page_loader'">
				<input type="button" value="log Out" class="btn btn-lg btn-danger" onmousedown="document.location='/user/tab_log_in'">

			</span>
		</h1>
		
	</div>
	<div class="row">
		<div style="border-top: thick solid grey; height: 90%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">

			<table class="table table-striped" style="margin-top: 1%;">
					<thead>
						<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
							<th>
								Test Name
							</th>
						    <th>
								Result Status
						    </th>
							
						</tr>
					</thead>
							
					<tbody>
						<% @test_types.each do |tests| %>
							<tr data-toggle="modal" data-target="#rst" style="cursor:pointer;" id = "<%= @id +'_'+tests %>" onclick="display_test_results(this.id);">
								<td>
									<%= tests %> 
								</td>
								<td>
									<% if @test_status[tests] == "not available" %>
												<label style="color:red;">
													<%=  @test_status[tests] %>
												</label>
									<% else %>
												<label style="color:green;">
													<%=  @test_status[tests] %>
												</label>
									<% end %>											
								</td>
							
							</tr>								
						<%end%>
					</tbody>

				</table>

		</div>
	</div>

</div>


<div id="rst" class="modal fade" role="dialog">
				  <div class="modal-dialog modal-lg">
				  		<div class="modal-content">
				  				<div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Test Results</h4>
						        </div>
						        <div class="modal-body" id="test_results">
						        	<table class="table" id="data">
						
										<tr style="background-color: #e0e0e0;">
											<th>Measure Name</th>
											<th>Result Value</th>
										</tr>
								
									</table>
						        </div> 

						        <div class="modal-footer">
						            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>

						        </div>

				  		</div>
				  </div>
</div>	



<script type="text/javascript">
	function display_test_results(id)
	{      

		var id = id.split('_')[1];
		var url_ = "/result_meausures?type=" + id;
		var holder = document.getElementById('test_results');
		var table = document.getElementById('data');
		jQuery.ajax({
					  sync: false,
					  url: url_,
					  success: function(res)
					  { 
					  	for (var counter=res.length-1;counter > -1;counter--)
					  	{  
					  		var row = table.insertRow(1);
					  		row.id ="data_row" + counter;					  		
					  		var measure = row.insertCell(0);
					  		var result = row.insertCell(1);			  		
					  		
					  		measure.innerHTML = res[counter].measure_name;
					  		result.innerHTML = res[counter].result;


					  	}				  	
							holder.style.display ="block"
					  },
					  error: function(er)
					  {
					  		
					  }
		})

			
	}
</script>