

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>

<style type="text/css">
   		#test_results{   			
    		height: 300px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   		#test-names-holder{
   			background-color: #f9f9f9;
    		height: 350px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   </style>

<div id="lbl_main_window" class="container-fluid" style="">
	<span id="lbl1" style=" color: blue; font-weight:bold;font-size: 2em; "> Lab Order Entry </span> 
	
	<div style="float: right;">
		<div >
			<span style="font-size: 2em; color: blue; font-weight: bold; float: left;" >LIMS </span>
			<span style="float: right;"> <%= image_tag("extras/mw.png") %></span>
		</div>
		
	</div>
</div>


<div id="main_window_container" class="container-fluid">
	
			<div class="col-sm-offset-1 col-sm-3 " style=" border: thick solid #eeeeee; border-radius:20px; margin-top: 10px; padding-bottom: 15px;">
		
				<table class="table" >
					<tr style=" border-bottom: thick solid black;">
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Id:
						</td>
						<td>
							00000000000
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Name:
						</td>
						<td>
							Gift Malolo
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Gender:
						</td>
						<td>
							Male
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient DOB:
						</td>
						<td>
							05-07-1990
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Sample Ordered:
						</td>
						<td>
							Blood
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Date Sample Ordered:
						</td>
						<td>
							05-10-2017
						</td>						
					</tr>

				</table>
		</div>
		

			<% counter =0 %>			

			<div class="col-sm-7 " id="test-names-holder" style="margin-top: 10px; background-color: #e0e0e0;">
				<div class="panel panel-default">

					<div class="panel-heading" >Ordered Tests <span style="float: right;">Total Test:100</span></div>
					
					<div class="panel-body" style="color:#1c2a48; background-color: #e0e0e0;">	
						<table class="table">
							<thead>
								<tr>
									<th>
										Test Name
									</th>
									<th>
										Result Status
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							
							<tbody>
								<% @test_types.each do |tests| %>
									<tr>
										<td>
											<%= tests %> 
										</td>
										<td>
											<% if @test_status[tests] == "not available" %>
												<label style="color:red;">
													<%=  @test_status[tests] %>
												</label>
											<% else %>
												<label style="color:green;">
													<%=  @test_status[tests] %>
												</label>
											<% end %>

											
										</td>
										<td>

											<% if @test_status[tests] == "available" %>
												<div id = "<%= @id +'_'+tests %>" 
													onclick="display_test_results(this.id);"
													style="cursor: pointer;color:black;"
													class="btn btn-info"
													data-toggle="modal" data-target="#rst">
													view results 
										
												</div>	

											<% end %>
 
										</td>
									</tr>								
								<%end%>
							</tbody>

						</table>

					</div>

				</div>
			</div>
		
			<div id="rst" class="modal fade" role="dialog">
				  <div class="modal-dialog modal-lg">
				  		<div class="modal-content">
				  				<div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Test Results</h4>
						        </div>
						        <div class="modal-body" id="test_results">
						        	<table class="table" id="data">
						
										<tr style="background-color: #e0e0e0;">
											<th>Measure Name</th>
											<th>Result Value</th>
										</tr>
								
									</table>
						        </div> 

						        <div class="modal-footer">
						           <button type="button" class="btn btn-primary" data-dismiss="modal">print</button>
						           <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

						        </div>

				  		</div>
				  </div>
			</div>	

</div>


<div class="footer">
  <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/'">|< Back Home</button>
  <span style="float: right;">
	    	<button class="btn btl-xxlg btn-danger" 
	     					id="log_out"
	     					onmousedown="document.location='/view_results'">
	     				Cancel
	    	</button>
	    </span>
</div>


<script type="text/javascript">
	
	function display_test_results(id)
	{      

		var id = id.split('_')[1];
		var url_ = "/result_meausures?type=" + id;
		var holder = document.getElementById('test_results');
		var table = document.getElementById('data');
		jQuery.ajax({
					  sync: false,
					  url: url_,
					  success: function(res)
					  { 
					  	for (var counter=res.length-1;counter > -1;counter--)
					  	{ 
					  		var row = table.insertRow(1);
					  		row.id ="data_row" + counter;					  		
					  		var measure = row.insertCell(0);
					  		var result = row.insertCell(1);			  		
					  		
					  		measure.innerHTML = res[counter].measure_name;
					  		result.innerHTML = res[counter].result;


					  	}				  	
							holder.style.display ="block"
					  },
					  error: function(er)
					  {
					  		
					  }
		})

			
	}

</script>