

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
   <%= stylesheet_link_tag "extras/footer" %>


   <style type="text/css">
   		#test-results-holder{
   			background-color: #f9f9f9;
    		height: 300px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   </style>


<div id="lbl_main_window" class="container-fluid" style="">
	<span id="lbl1" style=" color: blue; font-weight:bold;font-size: 2em; "> Lab Order Entry </span> 
	
	<div style="float: right;">
		<div >
			<span style="font-size: 2em; color: blue; font-weight: bold; float: left;" >LIMS </span>
			<span style="float: right;"> <%= image_tag("extras/mw.png") %></span>
		</div>
		
	</div>
</div>


<div id="main_window_container" class="container-fluid">

		<div class="container col-sm-offset-4" style="margin-top: 5px; padding-bottom: 5px;">
			<input type="text" name="date_ordered" placeholder="date ordered" class="input">
			<%= select_tag(:sample_type,  options_for_select(['Select Sample','Blood','Urin']), 
				:helpText=> "Sample Type"
			)%>

			<button class="btn btn-info glyphicon-search">search</button>
		</div>

		<div class="col-sm-offset-1 col-sm-3" style=" border: thick solid #eeeeee; border-radius:20px; margin-top: 7px; padding-bottom: 15px;">
		
				<table class="table" >
					<tr style=" border-bottom: thick solid black;">
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Id:
						</td>
						<td>
							00000000000
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Name:
						</td>
						<td>
							Gift Malolo
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient Gender:
						</td>
						<td>
							Male
						</td>
					</tr>

					<tr>
						<td style="color:#1c2a48;  font-weight:bold;">
							Patient DOB:
						</td>
						<td>
							05-07-1990
						</td>
					</tr>

				</table>
		</div>


		<div class="col-sm-7" style="margin-left: 2%; margin-top: 7px;" id="test-results-holder">
			
			<table class="table">
				<thead>
					<tr>
						<th>Tracking Number</th>
						<th>Date Drawn</th>
						<th>Sample Type</th>
						<th>Status</th>
						<th>Test Done</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					
					<% @sample_results.each do |result| %>
					
						<tr id="<%= result['_id'] %>">
							<td><%= result['_id'] %></td>
							<td><%= result['date_drawn'] %></td>
							<td><%= result['sample_type'] %></td>
							<td><%= result['status'] %></td>
							<td><%= "0" %></td>
							<td>
								<button class="btn btn-medium btn-info" 
									onmousedown="document.location='/view_individual_test_results?id='+this.id"
									id="<%= 'btn' + '_' + result['_id'].to_s %>">
								View</button>
								<button class="btn btn-medium btn-success">Print</button>
							</td>
						</tr>
					<%end%>

				</tbody>
			</table>
		</div>		
</div>


<div class="footer" style="margin-top: 200px;">
			
	<button class="btn-back btn btn-lg btn-info btn-header" onmousedown="document.location='/'">
	  				<|Back Home
	</button>

	<span style="float: right;">
	  	<button class="btn-home btn btn-lg btn-danger" onmousedown="document.location='/'">
			     	Cancel
	  	</button>			    	
	</span>   			  
			   
</div>