
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "datatable/js/jquery.dataTables.min" %>
  <%= javascript_include_tag "datatable/js/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "datatable/css/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>


<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-4" style="height: 26%;  
			 box-shadow: 5px 5px 5px #16222a; border-radius: 2%;">

			<h1 style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">LIMS Order Entry</h1>
			<div class="col-sm-5" style="border-right: thin solid black;">
				<p style="color: black; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">
						<% file =YAML.load_file("#{Rails.root}/config/application.yml")[Rails.env] %>
						<%= file['facility_name'] %>
					</span></p>

					<p style="color: black;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>
			</div> 
			<div class="col-sm-5" >
				<p style="color: black; font-weight:bold;">Current User<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% user = User::get_user(session[:user]) %>
					<%= user['name'] %></span></p>
				<p style="color: black; font-weight:bold;">User Designation<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% des= UserType::get_user_type_by_id(user['user_type_id']) %>
					<%= des %>
					</span></p>
			</div>

		</div>

		
		<div  class="col-sm-8">
			<div style="height: 26%; padding-top: 0.5%;padding-bottom:0.5%; padding-left: 0.8%;padding-right: 0.8%;border: thin solid lightgrey;box-shadow: 5px 5px 5px #16222a; 
			    ">

				<div style="margin-top: 2%;">	
				<% patient_demo = @patient_demo if !@patient_demo.blank? %>
						<div class="col-sm-8" style="height: 90%; color: blue;box-shadow: 2px  #182848;">
							<table class="table table-striped" style="height: 4%;width: 100%; font-size: 1em;">
								<tr>
									<td style="font-weight: bold;">Patient Name:</td>
									<td><%= patient_demo['name'] %></td>
									<td style="font-weight: bold;">NPID:</td>
									<td><%= patient_demo['npid'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Patient Gender:</td>
									<td><%= patient_demo['gender'] %></td>
						
									<td style="font-weight: bold;">DOB:</td>
									<td><%= patient_demo['birthdate'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Curent-District:</td>
									<td><%= patient_demo['current_district'] %></td>
									<td style="font-weight: bold;">Age:</td>
									<td>20</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Home-District:</td>
									<td><%= patient_demo['home_district'] %></td>
								</tr>
							</table>
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="height: 43%;color: blue;box-shadow: 2px 2px 2px #182848;">
								<h4 style="text-align: center;font-weight: bold"> Previous Order Results</h4>
							</div>
							
						</div>
				</div>

				
			</div>
		</div>
	</div>




	<div class="row">
		<div style="border-top: thick solid grey; padding: 2%; height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">
		 	<table class="table table-striped" id="rst">
			
				<thead>
					<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
						<th>Tracking Number</th>
						<th>Date Drawn</th>
						<th>Sample Type</th>
						<th>Status</th>
						<th>Test Done</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody >
					
					<% @sample_results.each do |result| %>
					
						<tr id="<%= result['_id'] %>">
							<td><%= result['_id'] %></td>
							<td><%= result['date_drawn'] %></td>
							<td><%= result['sample_type'] %></td>
							<td><%= result['status'] %></td>
							<td><%= "0" %></td>
							<td>
								<button class="buttons blue" 
									onmousedown="document.location='/view_individual_test_results?id='+this.id"
									id="<%= 'btn' + '_' + result['_id'].to_s %>">
								view</button>
								<button class="buttons green">print</button>
							</td>
						</tr>
					<%end%>
				

				</tbody>
			</table>
		</div>
	</div>
 			
</div>
		<div id="keypad">
				  <span class="keypad">
				  </span>
			</div>

<div class="footer" style="margin-top: 200px;">
			

	<span style="float: right;">
	  	<button class="buttons green" onmousedown="document.location='/patient_dashboard'">
			     	Finish
	  	</button>	
	    	
	</span>   			  
			   
</div>


<script type="text/javascript">
	var datatable = $("#rst").dataTable();
	var tb = $("#rst");
	var elms = document.getElementById("rst_filter").getElementsByTagName("*");
	var inpt = elms[1];
	inpt.setAttribute("id","txt_search");
	inpt.setAttribute("onclick","pop_keyboard()");
	

	function pop_keyboard()
	{   showKeyboardX();
	}

	keyboard = document.getElementsByClassName("keypad")[0];
	showAlphaKeypad();

	function showKeyboardX(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
        }

        key.style.display = "none";
    }




function getCharButtonSetID(character,id){
  return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton button blue" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
}

function getButtonString(id,string){
  if (id == "Space"){
    id = "Whitespace";
  }
  return "<button onMouseDown='press(this.id);' class='keyboardButton' id='"+id+"'>"+string+"</button>";
}

function getButtons(chars){
  var buttonLine = "";
  for(var i=0; i<chars.length; i++){
    character = chars.substring(i,i+1);
    buttonLine += getCharButtonSetID(character,character)
  }
  return buttonLine;
}

function press(pressedChar){
	var txt = document.getElementById("txt_search");
  switch (pressedChar) {
    case 'backspace':
      txt.value = txt.value.substring(0,txt.value.length-1);
       datatable.fnFilter(txt.value).draw();
      return;
    case 'Whitespace':
      txt.value+= " ";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'clear':
      txt.value = "";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'num':
      showNumericKeypad();
      return;
    case 'slash':
      txt.value+= "/";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'dash':
      txt.value+= "-";
       datatable.fnFilter(txt.value).draw();
      return;
    case 'abc':
      showAlphaKeypad();
      return
  }
  
  txt.value+= pressedChar;
  datatable.fnFilter(txt.value).draw();
}

function showNumericKeypad(){
  document.getElementById("keypad").style.height = "145";
  keyboard.innerHTML = getButtons("123");
  keyboard.innerHTML+= getButtons("456");
  keyboard.innerHTML+= getButtons("7890");
  keyboard.innerHTML+= getButtonString('space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('abc','<span>abc</span>');
  keyboard.innerHTML+= getButtonString('dash','<span>-</span>');
  keyboard.innerHTML+= getButtonString('slash','<span>/</span>');
}

function showAlphaKeypad(){
  document.getElementById("keypad").style.height = "290 !important";  
  keyboard.innerHTML= getButtons("0123456789") + "</br>";
  keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>";
  keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>";
  keyboard.innerHTML+= getButtons("ZXCVBNM,.?");
  keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>');
  keyboard.innerHTML+= getButtonString('Space','<span>Space</span>');
  keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>');
}

  
</script>

<style type="text/css">
	  #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 40%;
        padding: 1%;
        position: absolute;
        right: 4%;
        top: 44%;
        width: 45%;
        opacity: 1;
    }

	#backspace{
	  position:absolute;
	  left:5%;
	  bottom:2%;
	}

	#whitespace{
	  position:absolute;
	  left:20%;
	  bottom:2%;
	  width:50%;
	}

	#clear{
	   position:absolute;
	  left:75%;
	  bottom:2%;
	}

	.keyboardButton{
		background: -moz-linear-gradient(right,#2193b0,#6dd5ed); 
		width: 10%;
		height: 18%;
    }



</style>