

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/main_window" %>
  <%= stylesheet_link_tag "extras/footer" %>

<style type="text/css">
   		#test-results-holder{
   			background-color: #f9f9f9;
    		height: 300px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   		#test-names-holder{
   			background-color: #f9f9f9;
    		height: 200px;
    		overflow: auto;
    		overflow-x: hidden;
    		font-weight: normal !important;
   		}
   </style>



<div id="lbl_main_window" class="container-fluid" style="margin-bottom: 10px;">
	<span style=" font-weight:bold;">Application Name:</span> <span> Lims Order Entry</span> <br>
	<span style=" font-weight:bold;"> Facility Name: </span> <span>Kamuzu Central Hospital </span> <br>
	<span style=" font-weight:bold;">Ward/Location: </span> <span><%=  session[:ward] %></span>

</div>


<div id="main_window_container" class="container-fluid">
		<div class="container" style="margin-top: 20px;border-bottom: thin solid lightblue; padding-bottom: 10px;">
			
				<p>
					<span>Patient Id: 000000000</span>
					<span style="margin-left: 10px;">Patient Name: Gift Malolo</span>
					<span style="margin-left: 10px;">Sex: Male</span>
					<span style="margin-left: 10px;">Address: Area 22 </span>
					<span style="margin-left: 10px;">Age: 27</span>
				</p>
				
			
		</div>

		<div class="container" style="margin-top: 5px; border-bottom: thin solid lightblue;padding-bottom: 5px;">
			<span>
				Sample Type: Blood
			</span>
			<span style="margin-left: 10px;">
				Date: 10 August 2017
			</span>

			<button class="btn btn-info glyphicon-print" style="float: right;">print all</button>
		</div>

		<div class="container" style="margin-top: 20px;padding-bottom: 10px;">
			<% counter =0 %>			

			<div class="col-sm-4" id="test-names-holder">
				<table class="table">
					<% @test_results.each do |results| %>	
					<tr id = "<%=results[0] %>" onclick="display_test_results(this.id);" style="cursor: pointer;">			
						<td >
							<%= results[0] %> <span class="badge" style="float: right;"><%= "         " %></span>
						</td>
					</tr>
									
					<%end%>
				</table>
			</div>
			<div class="col-sm-offset-1 col-sm-6" id="test-results-holder">
				<div id="test_results">
					Test Results
				</div>
				
			</div>
		</div>


</div>


<div class="footer">
  <button class="btn-back btn btn-lg btn-success" onmousedown="document.location='/'">|< Back Home</button>
  <span style="float: right;">
	    	<button class="btn btl-xxlg btn-danger" 
	     					id="log_out"
	     					onmousedown="document.location='/view_results'">
	     				Cancel
	    	</button>
	    </span>
</div>


<script type="text/javascript">
	
	function display_test_results(id)
	{       var table = document.createElement('table');
			var head1 = document.createElement('th');
			var head2 = document.createElement('th');

			var heading1 = document.createTextNode('Measure Name');
			var heading2 = document.createTextNode('Result');

			head1.appendChild(heading1);
			head2.appendChild(heading2);

			table.setAttribute('class', 'table');

			table.appendChild(head1);
			table.appendChild(head2);
			
			for (var i = 1; i < 4; i++){
			    var tr = document.createElement('tr');   

			    var td1 = document.createElement('td');
			    var td2 = document.createElement('td');

			    var text1 = document.createTextNode('Text1');
			    var text2 = document.createTextNode('Text2');

			    td1.appendChild(text1);
			    td2.appendChild(text2);
			    tr.appendChild(td1);
			    tr.appendChild(td2);

			    table.appendChild(tr);
			}
			$('test_results').appendChild(table);
	}

</script>