
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "datatable/js/jquery.dataTables.min" %>
  <%= javascript_include_tag "datatable/js/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "extras/footer" %>
  <%= stylesheet_link_tag "datatable/css/dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag "extras/edrs" %>

<style type="text/css">
	
	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);	
</style>

<div style=" height: 97%;" class="container-fluid"  >

	<div class="row">
		<div id="app_headers" class="col-sm-4" style="height: 26%;  
			 box-shadow: 5px 5px 5px #16222a; border-radius: 2%;">

			<h1 style="margin-left: 2.3%;color: black;text-shadow: 1px 1px 1px #000000;">LIMS Order Entry</h1>
			<div class="col-sm-5" style="border-right: thin solid black;">
				<p style="color: black; font-weight:bold;">Facility Name <br/>
					<span class="color:white;" style="">
						<% file =YAML.load_file("#{Rails.root}/config/application.yml")[Rails.env] %>
						<%= file['facility_name'] %>
					</span></p>

					<p style="color: black;font-weight:bold;">Ward/Location <br/>
					<span class="text-white" style=""><%= session[:ward] %></span>
				</p>
			</div> 
			<div class="col-sm-5" >
				<p style="color: black; font-weight:bold;">Current User<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% user = User::get_user(session[:user]) %>
					<%= user['name'] %></span></p>
				<p style="color: black; font-weight:bold;">User Designation<br/>
					<span class="color:white;" style="font-weight:none !important;">
					<% des= UserType::get_user_type_by_id(user['user_type_id']) %>
					<%= des %>
					</span></p>
			</div>

		</div>

		
		<div  class="col-sm-8">
			<div style="height: 26%; padding-top: 0.5%;padding-bottom:0.5%; padding-left: 0.8%;padding-right: 0.8%;border: thin solid lightgrey;box-shadow: 5px 5px 5px #16222a; 
			    ">

				<div style="margin-top: 2%;">	
				<% patient_demo = @patient_demo if !@patient_demo.blank? %>
						<div class="col-sm-8" style="height: 90%; color: blue;box-shadow: 2px  #182848;">
							<table class="table table-striped" style="height: 4%;width: 100%; font-size: 1em;">
								<tr>
									<td style="font-weight: bold;">Patient Name:</td>
									<td><%= patient_demo['name'] %></td>
									<td style="font-weight: bold;">NPID:</td>
									<td><%= patient_demo['npid'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Patient Gender:</td>
									<td><%= patient_demo['gender'] %></td>
						
									<td style="font-weight: bold;">DOB:</td>
									<td><%= patient_demo['birthdate'] %></td>
									
								</tr>
								<tr>
									<td style="font-weight: bold;">Curent-District:</td>
									<td><%= patient_demo['current_district'] %></td>
									<td style="font-weight: bold;">Age:</td>
									<td>20</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Home-District:</td>
									<td><%= patient_demo['home_district'] %></td>
								</tr>
							</table>
					
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default" style="height: 43%;color: blue;box-shadow: 2px 2px 2px #182848;">
								<h4 style="text-align: center;font-weight: bold"> Patient Dashboard</h4>
							</div>
							
						</div>
				</div>

				
			</div>
		</div>
	</div>






	<div class="row">
		<div style="border-top: thick solid grey;  height: 55%;margin-left: 2%;margin-right: 2%; margin-top: 1%;
		overflow: auto;">
			<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="margin-top: 2%;">
		    	<table class="table table-striped">
					<thead>
						<tr style="background: -moz-linear-gradient(right,rgba(62, 69, 81, 0.7),rgba(62, 69, 81, 0.3));color: white; ">
							<th>
								Test Name
							</th>
							<th>
								Test Status
							</th>
						    <th>
								Test Result Status
						    </th>
							<th>
								Action
							</th>
						</tr>
					</thead>
							
					<tbody>
						<% @test_types.each do |tests| %>
							<tr>
								<td>
									<%= tests %> 
								</td>
								<td>
									<% sta = @test_status[tests].split("_") %>
									<% if sta[1] != "authorised" && sta[1] != "completed but Unauthorised" %>
										<label style="color:red;">
													<%=  sta[1] %>
										</label>
									<% elsif sta[1] == "completed but Unauthorised" %>
										<label style="color:orange;">
													<%=  sta[1] %>
										</label>
									<% else %>
										<label style="color:green;">
													<%=  sta[1] %>
										</label>
									<% end %>
																				
								</td>
								<td>
									
									<% if sta[0] == "not available" %>
										<% if sta[1] == "completed but Unauthorised" %>
												<label style="color:orange;">
													<%=  sta[0] %>
												</label>
										<% else %>
												<label style="color:red;">
													<%=  sta[0] %>
												</label>
										<% end %>
									<% else %>
												<label style="color:green;">
													<%=  sta[0] %>
												</label>
									<% end %>											
								</td>
								<td>
									 <% if sta[0] == "available" %>
										<div id = "<%= @id +'_'+tests %>" 
													onclick="display_test_results(this.id);"
													style="cursor: pointer;"
													class="buttons blues"
													data-toggle="modal" data-target="#rst">
													view results 
										
										</div>	

									<% end %>
 
								</td>
							</tr>								
						<%end%>
					</tbody>

				</table>
			</div>
		</div>
	</div>

</div>
		
<div id="rst" class="modal fade" role="dialog">
				  <div class="modal-dialog modal-lg">
				  		<div class="modal-content">
				  				<div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Test Results</h4>
						        </div>
						        <div class="modal-body" id="test_results" style="overflow: auto;height:40%">
						        	<table class="table" id="data">
						
										<tr style="background-color: #e0e0e0;">
											<th>Measure Name</th>
											<th>Result Value</th>
										</tr>
								
									</table>
						        </div> 

						        <div class="modal-footer">
						            <button type="button" class="buttons blues" data-dismiss="modal">
 										<%= image_tag("extras/print.png") %>
						            </button>
						            <button type="button" class="buttons blues" data-dismiss="modal">Close</button>

						        </div>

				  		</div>
				  </div>
</div>	


<div class="footer">

  <span style="float: right;">
	    

	    	<button class="buttons greens" 
	     					id="log_out"
	     					onmousedown="document.location='/view_results'">
	     				Finish
	    	</button>
	    </span>
</div>


<script type="text/javascript">
	var datatable = $("data").dataTable();
	
	function display_test_results(id)
	{      

		var id = id.split('_')[1];
		var url_ = "/result_meausures?type=" + id;
		var holder = document.getElementById('test_results');
		var table = document.getElementById('data');
		var rows = table.getElementsByTagName("tr").length;

		for (var count =1;count<rows;count ++)
		{
			table.deleteRow(count);
		}		

		jQuery.ajax({
					  sync: false,
					  url: url_,
					  success: function(res)
					  { 
					  	for (var counter=res.length-1;counter > -1;counter--)
					  	{ 
					  		var row = table.insertRow(1);
					  		row.id ="data_row" + counter;					  		
					  		var measure = row.insertCell(0);
					  		var result = row.insertCell(1);			  		
					  		
					  		measure.innerHTML = res[counter].measure_name;
					  		result.innerHTML = res[counter].result;


					  	}				  	
							holder.style.display ="block"
					  },
					  error: function(er)
					  {
					  		
					  }
		})

			
	}

</script>
